<div *ngIf="messageService.messages.length">

  <h2>Errors!</h2>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
</div>

<div *ngIf="messageService.errorsLog.length">

  <h2>Http Errors!</h2>
  <div *ngFor='let message of messageService.errorsLog' [ngClass]="'httpError'"> {{message}} </div>
  <button class="clear"
          (click)="messageService.clear()">clear</button>
</div>