h1 { 
    color: white; 
    font-family: 'Raleway',sans-serif; 
    font-size: 40px; 
    font-weight: 800; 
    line-height: 72px; 
    margin: 0 0 24px; 
    text-align: center; 
    text-transform: uppercase;
    background-color: #87CEEB; 
}

h3{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
}

.sports{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.sports li{
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    text-align: left;
}

.sports li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.sports .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;  
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.daysSelectionHeading
{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: white;
}

.daysSelectionHeading .errorMessage
{
    background-size: 400px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
