table{
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    align-content: center;
    margin-top: 50px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.th{
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFF;
    text-transform: uppercase;
}

 .td{
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-transform: uppercase;
}

.availableDayStyle
{
    background-color: green;
}

.unavailableDayStyle
{
    background-color: red;
}